.App{
  background-color: #ebeae8;
}

.App-header{
  margin-left: 20%;
  margin-right: 20%;
}

body *{
	overflow: auto;
}

@media only screen and (max-width: 500px){

	.App-header{
    margin : 0;
  }

}